{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Create Your Account</h4>
    </div>
    <div class="card-body bg-white p-4">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}